---
export async function getStaticPaths() {
    const url = "https://jhfjphjzgaxwvmiboyhj.supabase.co/rest/v1/speakersntalks";

    const options = {
		method:"GET",
		headers: {
			apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoZmpwaGp6Z2F4d3ZtaWJveWhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMjEwNTAsImV4cCI6MjAxMTg5NzA1MH0.UcoT8cKIOL89hswLUhzwZsDdf-_Rrvusn-9O08NTxAI"
	}}

  const data = await fetch(url, options).then(response => response.json());

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---


<img src={post.speakerimage} alt="">
<h1>{post.speakername}</h1>
<h2>{post.speakertitle}</h2>
<h3>{post.talktitle}</h3>
<h4>{post.talktimeslot}</h4>
<p>{post.talkdescription}</p>

