---
export async function getStaticPaths() {
    const url = "https://jhfjphjzgaxwvmiboyhj.supabase.co/rest/v1/speakersntalks";

    const options = {
		method:"GET",
		headers: {
			apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoZmpwaGp6Z2F4d3ZtaWJveWhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzMjEwNTAsImV4cCI6MjAxMTg5NzA1MH0.UcoT8cKIOL89hswLUhzwZsDdf-_Rrvusn-9O08NTxAI"
	}}

  const data = await fetch(url, options).then(response => response.json());

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---

<div class="container">
  <div class="left">
    <img src={post.speakerimage} alt="">
    <h2>{post.speakername}</h2>
    <h3>{post.speakertitle}</h3>
  </div>
  <div class=right>
    <h4><i>{post.talktitle}</i></h4>
    <h5>{post.timeslot}</h5>
    <p>{post.talkdescription}</p>
  </div>
</div>

<style>
html {
  --primary: #042725;
  --secondary: #ff5a43;
  --tertiary: #12b3aa;
  --quarternary: #d2d2d2;
}

.container {
  padding: 10px;
  background-color: var(--primary);
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left, .right {
  padding: 10px;
}

body {
  background-color: rgb(4, 39, 37);
}

img {
  padding: 10px;
  max-width: 100%;
  border-radius: 50%;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 10px;
  font-size: 18px;
  color: rgb(255, 90, 67);
}

h3 {
  margin-top: 0px;
  padding: 0px 10px;
  font-size: 12px;
  color: rgb(18, 179, 170);
}

h4 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 25px;
  color: rgb(255, 90, 67);
}

h5 {
  margin-top: 0px;
  font-size: 14px;
  color: rgb(18, 179, 170);
}

p {
  color: #d2d2d2;
}



</style>