---
import "../css/generalstyle.css";

const { obj } = Astro.props;
---

<details>
  <summary>
    <h3>{obj.talktitle}</h3><h3>{obj.speakername}</h3></summary>
    <article>
      <div id="hej" class="grid1-2">
        <div class="left">
          <img src={obj.speakerimage} alt="profilbillede" />
          <h2>{obj.speakername}</h2>
          <h3>{obj.speakertitle}</h3>
        </div>
        <div class="right">
          <h4>{obj.talktitle}</h4>
          <h5>{obj.nytimeslot}</h5>
          <p>{obj.talkdescription}</p>
        </div>
      </div>
    </article>
</details>

  
</a>

<style>


body {
  background-color: rgb(4, 39, 37);
}

.grid1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
img {
  padding: 10px;
  max-width: 100%;
  border-radius: 50%;
}

details > summary {
  list-style: none;
}

h2 {
  font-family: 'Roboto-Regular';
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 10px;
  font-size: 18px;
  color: rgb(255, 90, 67);
}

h3 {
  font-family: 'Roboto-Regular';
  margin-top: 0px;
  padding: 0px 10px;
  font-size: 12px;
  color: rgb(18, 179, 170);
}

h4 {
  font-family: 'Roboto-Italic';
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 25px;
  color: rgb(255, 90, 67);
}

h5 {
  font-family: 'Ubuntu-Mono';
  margin-top: 0px;
  font-size: 14px;
  color: rgb(18, 179, 170);
}

p {
  font-family: 'Roboto-Regular';
  color: #d2d2d2;
}

#hej {
  position: fixed;
  /* overlayet bliver i midten af vinduet hvis brugeren scroller */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* for at placere overlayet i midten, placerer vi først det venstre hjørne på boksen i centrum af skærmen.
  Derefter translater vi så det er midten på x-aksen og midten på y-aksen der skal være i centrum af skærmen. */
  transition: 200ms ease-in-out;
  border: 2px solid rgb(255, 90, 67);
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(4, 39, 37);
  width: 500px;
  max-width: 80%;
}

.right {
  padding: 20px 20px;
}

</style>

<script>
  document.querySelectorAll("h3").forEach((element) => {
    element.addEventListener("click", popup);
  });

  function popup() {
    console.log(this.nextElementSibling);
    this.nextElementSibling.classList.toggle("hide");
  }
</script>
